/* *{border: solid red 1px; */
    
/* } */

body{
background: rgb(242, 247, 254);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   
   background-size: cover;
}


header{
background:linear-gradient(70deg, rgb(12, 63, 194),white) ;
height: 300px;
width:100%;
justify-items: center;
}
 img {
    width: 200px;
    height: 200px;
   margin: 25px 10%;
    border-radius: 100%;
 j
    
}
.container{
display: flex;
justify-content: space-between;
}

ul{
    list-style: none;
}
body{
    align-items: center;
}

  .tema{
    display: flex;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: aliceblue;
}

.madre li>a{
    background-color: rgba(28, 95, 210, 0.7);/*color de fondo*/
    color: white;
    padding: 12px;
    display: block; /*mostrar en forma de block*/
    text-decoration:none;
   font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition:  200mls;
    }

   
       

    
  .madre li>a:hover{
    color: #000;/* #000 = negro*/
    background-color: #eaeaea;

  
  }

  .madre>li>ul{
   display: none;
   
  }
  .madre>li:hover>ul {
 
    display:block;
}

#menu{
    padding-right: 150px;
}
 .madre{
 
    display: flex; }

 }